@charset "utf-8";
*{
	font-family: B Homa;
}
body{
	background-image: url("https://s6.uupload.ir/files/output-onlinepngtools_g0g.png");
	background-position: left top;
	background-repeat: repeat;
	background-size: 200px;	
}
.photo{
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 250px;
	height: 200px;
}
p{
	text-align: center;
	font-size: 25px;
}
.aks{
	position: absolute;
	top:15%;
	left: 2%;

}
.aks2{
	position: absolute;
	top:15%;
	right: 2%;
	width: 450px;
	height: 800px;

}
